#home-page{
  margin-top: 150px;
  h1{
    font-weight: bold;
    font-size: 80px;
    color: #5FCF85;
    margin-bottom: 10px;
  }
  h3{
    font-weight: bold;
    font-size: 18px;
    color: black;
    margin-top: 10px;
  }
}
